.hero{
    align-items: center;
    background: #333;
    display: flex;
    font-size: 18px;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    perspective: 100px;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
}


.hero:after{
    background: #F9FCFF;
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
        right: -5%;
        top: 90%;
    transform-origin: 0 0;
    transform: rotateZ(-4deg);
}

.hero_content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hero_content > div{
    width: 100%;
}


.hero_title, .hero_subtitle{
    color: #fff;
}

.hero_subtitle {
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.hero_button {
    transform: translateZ(.1px);
    position: relative;
    z-index: 10;
}

/*
@media screen and (min-width: 800px){
    .hero_content{
        justify-content: space-between;
    }
}
*/

@media screen and (min-width: 1200px){
    .hero_content{
        width: 80%;
        margin: auto;
    }

    .hero_content > div{
        width: 45%;
    }
}


